* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    color: #3C2313;
}

.top,
.barra-nav {
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.top {
    background-color: #222222;
}

.barra-nav {
    background-color: #F0A83E;
    height: 60px;
}

.top div,
.barra-nav div {
    width: 20%;
}

.barra-nav div,
.barra-nav nav {
    width: 30%;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.fa-bars {
    display: none;
}

nav {
    display: flex;
    justify-content: space-around
}

a {
    color: white;
    text-decoration: none;
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-image: url("../images/bowl-background.png");
    background-size: cover;
    height: 400px;
    background-position: center;
    border-bottom: 3px solid #F0A83E;
}

#banner h2,
#banner a {
    width: 80%;
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;
    margin: 0;
}

#banner h2 {
    background-color: white;
}

#banner a {
    width: 140px;
    color: white;
    background-color: #F0A83E;
}

#banner .container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#destacados {
    text-align: center;
    margin: 30px;
}

#destacados img {
    display: block;
    margin: auto;
}

#destacados h2 {
    font-size: 40px;
}

#destacados span {
    margin: 20px;
}

#productos {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

#productos div {
    text-align: center;
}

#contactanos h3 {
    text-align: center;
}

h3 {
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contactanos input {
    width: 300px;
    height: 40px;
    margin: 5px;
    padding: 10px;
    color: white;
    background-color: #3C2313;
    border: 0;
    border-radius: 10px;
}

#contactanos input::placeholder {
    color: white;
}

#contactanos button {
    color: white;
    background-color: #8A8787;
    display: inline;
    width: 100px;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
}

#contactanos button:nth-of-type(2) {
    background-color: #F0A83E;
}

footer {
    color: white;
    margin-top: 50px;
}

footer input {
    margin: 5px;
    padding: 10px;
    color: white;
    border: 0;
    border-radius: 10px;
}

footer button {
    margin: 5px;
    padding: 10px;
    color: white;
    background-color: #3C2313;
    border: 0;
    border-radius: 10px;
}

footer section:nth-of-type(1) {
    padding: 20px;
    background-color: #F0A83E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer section:nth-of-type(1) form {
    display: inline-block;
}

footer i,
footer h3 {
    font-size: 20px;
    display: inline-block;
}

footer section:nth-of-type(2) {
    background-color: #3C2313;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
    position: relative;
}

footer section:nth-of-type(2) img {
    height: 30px;
    position: relative;
    top: 10px;
}

footer section:nth-of-type(2) p {
    padding-left: 30px;
}

footer section:nth-of-type(3) {
    background-color: #222222;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .top {
        display: none;
    }
    .fa-bars {
        display: inline-block;
        padding: 15px;
    }
    .barra-nav nav {
        display: none;
    }
    #banner,
    #productos,
    footer section:nth-of-type(1) {
        flex-direction: column;
        justify-content: space-around;
    }
    footer section:nth-of-type(2) {
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 50px;
    }
}