html {
    font-family: 'Poppins', sans-serif;
}

footer {
    font-size: 1.5em;
    text-align: center;
}

#titulo {
    height: 300px;
    background-image: url(./lemon.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    font-size: 2em;
}

h1 {
    text-align: center;
}

h1,
h2 {
    font-family: 'Pacifico', cursive;
}