* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.descuento {
    height: 38px;
    background-color: #1CD1B0;
}

.descuento p {
    padding: 10px;
}

header {
    position: sticky;
    top: 0px;
    z-index: 1;
}

h1 {
    background-color: #00669F;
    height: 50px;
    line-height: 50px;
    padding: 30px;
    box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.24);
}

main {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80vh;
}

section {
    width: 400px;
    height: 700px;
    margin: 30px;
    position: relative;
    background-color: #F3F3F3;
    text-align: center;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.24);
}

section .background {
    height: 200px;
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

section:nth-of-type(1) .background {
    background-image: url(./images/batman-bg.png);
}

section:nth-of-type(2) .background {
    background-image: url(./images/wonderwoman-bg.png);
}

section:nth-of-type(3) .background {
    background-image: url(./images/superman-bg.png);
}

section:nth-of-type(4) .background {
    background-image: url(./images/harley-bg.png);
}

.background img {
    padding: 15px;
}

section>img {
    width: 200px;
    border-radius: 50%;
    position: relative;
    bottom: 100px;
    margin-bottom: -100px;
}

section>h2 {
    margin: 20px;
}

.contenido {
    height: 40%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contenido a {
    color: white;
    background-color: #00669F;
    display: inline-block;
    width: 130px;
    padding: 25px 40px;
}

footer {
    height: auto;
    background-image: url(../images/back2.png);
    background-size: cover;
    border-top: 2px solid #0077b6;
    text-align: center
}

footer div {
    margin: auto;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 768px) {
    h1 {
        height: 30px;
        font-size: 30px;
        line-height: 30px;
        padding: 15px;
        box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.24);
    }
}

@media (max-width: 1280px) {
    footer div {
        width: 100%;
        justify-content: space-around;
    }
}