body {
    margin: 0;
    font-size: 15px;
}

main {
    max-width: 1041px;
    margin: 50px auto;
}

header {
    background-color: #E5E5E5;
    top: 0%;
    position: sticky;
    text-align: center;
}

header .titulos {
    border-bottom: 5px solid white;
}

section:nth-of-type(1) {
    margin-top: 3em;
}

.titulos {
    background-color: #C4C4C4;
    color: #005677;
    font-size: 35px;
    letter-spacing: 0.3em;
    padding: 0.2em 0.5em;
    text-transform: uppercase;
}

.subtitulos {
    font-size: 20px;
}

.datos {
    font-style: italic;
    font-weight: 700;
}

li {
    list-style-type: none;
}

section:nth-of-type(1) li {
    list-style-type: disc;
}

footer {
    background-color: #005677;
    color: #FFFFFF;
    font-size: 30px;
    text-align: center;
}

footer img {
    margin: 0px 10px;
}

footer p {
    margin: 0px;
}

#volver {
    color: white;
}